@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Domine:wght@400..700&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&family=Tiny5&family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #222222;
    color: white;
}
.form{
    width: 70%;
    background-color: #222222;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.7);
    margin: 50px auto;
}
.formhead{
    background-color: rgb(83, 229, 255);
    color: white;
    text-align: center;
    height: 50px;
    font-size: 20px;
    position: relative;
}
.namefield{
    padding: 30px;
}
.gender{
    margin-top: 20px;
}
.game{
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}
.formbody{
    padding: 30px;
}
.maleradio{
    margin-right: 10px;
    margin-left: 15px;
}
.age{
    margin-right: 10px;
}
.comment{
    display: block;
    width: 100%;
    max-height: 200px;
    height: 200px;
    outline: none;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 20px;
    resize: none;
    font-size: 18px;
}
.femaleradio{
    margin-right: 10px;
}
.inputwrapper{
    margin: 30px 0px;
}
.fname,.sname{
    background: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    padding: 20px;
    color: white;
    outline: none;
}
.buttonback{
    position: absolute;
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    top: 0px;
    left: 0px;
    font-weight: bold;
}
.buttonback:hover{
    background-color: grey;
}
.buttonback:active{
    color: white;
    background-color: black;
}
.submit{
    display: block;
    color: white;
    background-image: linear-gradient(90deg, rgb(0, 255, 213), rgb(83, 229, 255));
    text-decoration: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 40px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
    margin: 40px auto;
    text-shadow: 0px 2px 2px rgb(0, 0, 0); 
    font-size: 20px;
}
button:hover{
    transform: scale(1.2);
}
button:active{
    background-image: linear-gradient(90deg, #347083, #388065);
}